body{
    background-image: url(../images/background.jpg);
    height: 100%;
}

nav{
    background-color:#4A6670;
}

#profile-pic{
    float:left;
    max-height: 175px;
    padding:2px;
    margin-right:5px;
}

.about{
    text-align: left;
    color:black;
    font-size: 35px;
    
}

.box{
    background-color:#D8DDDE;
    color:black;
    min-height: 400px;
}

.social-links{
    float: left;
}

#social-links-index{
    float:left;
    padding:10px;
    margin-bottom: 30px;
    background-color:#48435C;
    width:100%;
}

#social-links-portfolio{
    float:left;
    padding:5px;
    margin-bottom:15px;
    background-color:#48435C;
    width:100%;
}

form{
    color:black;
}

#contact{
    border: solid 1px black;
    margin-top:25px;
    padding:1px;
}

footer{
    text-align: center;
    color:white;
    background-color:#4A6670;
    position: fixed;
    width:82%;
    left: 100;
    bottom: 0;
    padding: 0;
}

#portfolio-footer{
    text-align: center;
    color:white;
    background-color:#4A6670;
    position: relative;
    width:100%;
    /* left: 100; */
    bottom: 0;
    padding: 0;

}

.btn{
    background-color:#7C99B4;
}

.btn:hover{
    background-color:rgb(158, 191, 223);
}

.labels{
    color:black;
    font-size: 15px;
}

h1{
    border-bottom: solid 1px #4A6670;
    font-weight: 45;
    font-size:30px;
}

h3{
    font-size: 20px;
}

.port-item{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    
}

img{
    max-height:200px;
}

.container{
    margin:0;S
}


  